LOG_PATH=/appdata/log.txt

DB_HOST="host.docker.internal"
DB_PORT="5432"
DB_USER="postgres"
DB_PASS="admin"
DB_NAME="BG_md5_service"

REDIS_HOST="host.docker.internal"
REDIS_PORT=6379
REDIS_DB_ID=0

API_PORT=8000

FILE_EXPIRATION_TIME=3600