<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>MD5 File Checksum</title>

  <style>
  main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
    }
  </style>
</head>
<body class="bg-gray-200">

  <main>
      <h2 class="font-sans text-slate-700 text-center font-semibold text-xl pb-6">
          MD5 File Checksum
      </h2>
      <label class="block">
        <input type="file" class="block w-full text-sm text-slate-500
          file:mr-4 file:py-2 file:px-4
          file:rounded-full file:border-0
          file:text-sm file:font-semibold
          file:bg-violet-50 file:text-violet-700
          hover:file:bg-violet-100
        "/>
         <button class="bg-slate-700 hover:bg-sky-700 w-full py-2 mt-4 text-sm rounded-full font-semibold text-white">
            Upload
         </button>
      </label>
  </main>

</body>
</html>