<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>MD5 File Checksum</title>

  <style>
  main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
    }
  </style>
</head>
<body class="bg-gray-200">
  <main>
      <h2 class="font-sans text-slate-700 text-center font-semibold text-xl pb-6">
          MD5 File Checksum
      </h2>
      <form action="/upload-page" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" class="block w-full text-sm text-slate-500
          file:mr-4 file:py-2 file:px-4
          file:rounded-full file:border-0
          file:text-sm file:font-semibold
          file:bg-violet-50 file:text-violet-700
          hover:file:bg-violet-100
        "/>
         <input type="submit" value="Upload" class="bg-slate-700 hover:bg-sky-700 w-full py-2 mt-4 text-sm rounded-full font-semibold text-white">


      </form>
      <script>
        function checkFile() {
            // Get a form element with a file selection
            const fileInput = document.querySelector('input[name="file"]');

            // Check if the file is selected
            if (fileInput.files.length === 0) {
              // File is not selected
              alert('File is not selected!');
             // Canceling the submission of the form
              event.preventDefault();
              return false;
            } else {
              // File is selected
              return true;
            }
        }

        // Attaching the event handler to the form submission button
        document.querySelector('input[type="submit"]').addEventListener('click', checkFile);
      </script>

      {% block upload_status %}{% endblock %}

  </main>

</body>
</html>